{% extends 'base.template.html' %}
{%block title%}
Aquarist's Resource
{% endblock%}

{%block content%}
<div class="col-md-4 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Fish Trove</h1>
    <p class="lead font-weight-normal">Just Keep Swimming</p>
    <a class="btn btn-outline-secondary" href="{{url_for('show_all_fish')}}">Fish Repository</a>
</div>
<hr>
<div class="col-md-4 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Aquatic Plants</h1>
    <p class="lead font-weight-normal">All you need to know about your favorite aquascape plants</p>
    <a class="btn btn-outline-secondary" href="{{url_for('show_all_plant')}}">Aquatic Plant Repository</a>
</div>
{% endblock%}