{% extends 'base.template.html' %}
{%block title%}
Fish List
{% endblock%}

{%block content%}
<h1>Fish List</h1>

<!-- button for redirecting to create fish -->
<a href="{{url_for('show_create_fish')}}" class="btn btn-primary">Add Fish</a>

<div class="card-group">

    {%for each_fish in fish%}
    <div class="card col-md-4">
        <img class="card-img-top" src="{{each_fish.fish_picture}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{each_fish.name}}</h5>
            <p class="card-text">{{each_fish.scientific_name}}</p>
            <p class="card-text">{{each_fish.higher_classification}}</p>
            <p class="card-text">Full-grown size: {{each_fish.higher_classification}}</p>
            <p class="card-text">Reproduction: {{each_fish.reproduction}}</p>
            <hr>
            <h6>Aquarium Setup</h6>
            <p class="card-text">Water Temp (°C) {{each_fish.water_temp_in_degc}}</p>
            <p class="card-text">pH {{each_fish.pH}}</p>
            <p class="card-text">Tank Setup: {{each_fish.tank_setup_text}}</p>
        </div>
         <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
    </div>
    {% endfor%}
</div>

{% endblock %}