{% extends 'base.template.html' %}
{%block title%}
Fish List
{% endblock%}

{%block content%}
<h1>Fish List</h1>

<!-- button for redirecting to create fish -->
<a href="{{url_for('show_create_fish')}}" class="btn btn-primary">Add Fish</a>

<div class="card-group">

    {%for each_fish in fish%}
    <div class="card col-md-4">
        <img class="card-img-top" src="{{each_fish.fish_picture}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{each_fish.name}}</h5>
            <p class="card-text my-0 text-muted">{{each_fish.scientific_name}}</p>
            <p class="card-text my-0 text-muted">{{each_fish.higher_classification}}</p>
        </div>
        <ul class="list-group list-group-flush"></ul>
        <li class="list-group-item">Full-grown size: {{each_fish.full_grown_size_in_cm}} cm </li>
        <li class="list-group-item">Reproduction: {{each_fish.reproduction}} </li>
        </ul>
        <div class="card-body">
            <h5 class="card-title text-muted">Aquarium Setup</h5>
            <p class="card-text my-0">Water Temp: {{each_fish.water_temp_in_degc}}°C</p>
            <p class="card-text my-0">pH {{each_fish.pH}}</p>
            <p class="card-text my-0 small">{{each_fish.tank_setup_text}}</p>
        </div>
        <div class="card-footer">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="{{ url_for('delete_fish', fish_id=each_fish._id )}}" class="btn btn-danger">Delete</a>
                        <a href="{{ url_for('show_update_fish', fish_id=each_fish._id)}}" class="btn btn-success">Update</a>
                    </div>
                </div>
            </div>
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    {% endfor%}
</div>

{% endblock %}