{% extends 'base.template.html' %}
{%block title%}
Aquarist's Resource
{% endblock%}

{%block content%}
<section class="featurette-fish container py-4">
    <div class="col-md-4 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal text-light">Fish Trove</h1>
        <p class="lead font-weight-normal text-light">Just Keep Swimming</p>
        <a class="btn btn-outline-secondary text-light" href="{{url_for('show_all_fish')}}">Fish Repository</a>
    </div>
</section>
<section class="featurette-plant container py-4">
    <div class="col-md-4 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal text-light">Aquatic Plants</h1>
        <p class="lead font-weight-normal text-light">All you need to know about your favorite aquascape plants</p>
        <a class="btn btn-outline-secondary text-light" href="{{url_for('show_all_plant')}}">Aquatic Plant Repository</a>
    </div>
</section>
{% endblock%}