{% extends 'base.template.html' %}
{%block title%}
Plant List
{% endblock%}

{%block content%}
<div class="py-5 text-center">
    <img class="d-block mx-auto mb-3" src="{{ url_for('static', filename='logo1.png') }}" alt="" width="57" height="57">
    <h2>Aquatic Plant Repository</h2>
    <p class="lead">All the plants aquarists have contributed. In one place.</p>
</div>

<form method="GET">
    <div class="form">
        <div class="col-auto mb-3">
            <input type="text" name="name" class="form-control " placeholder="Enter a Plant Name" />
        </div>
        <div class="form-group col-auto">
            <input type="submit" value="Search" class="btn btn-primary col-12" />
        </div>
    </div>
</form>

<hr class="my-3">
<!-- button for redirecting to create plant -->

<label class="my-3 col-6 mx-0 text-center">Adding a New Plant to the Repository?</label>
<a href="{{url_for('show_create_plant')}}" class="btn btn-primary col-5 mx-0">Click to Add Plant</a>

<hr class="my-3">
<div class="row">

    {%for each_plant in plant%}
    <div class="card col-md-4">
        <img class="card-img-top" src="{{each_plant.plant_picture}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{each_plant.name}}</h5>
            <p class="card-text my-0 text-muted">{{each_plant.scientific_name}}</p>
            <p class="card-text my-0 text-muted">Plant Type: {{each_plant.plant_type}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Full-grown size: {{each_plant.full_grown_size_in_cm}} cm </li>
            <li class="list-group-item">Reproduction: {{each_plant.reproduction}} </li>
        </ul>
        <div class="card-body">
            <h5 class="card-title text-muted">Aquarium Setup</h5>
            <p class="card-text my-0">Water Temp: {{each_plant.water_temp_in_degc}}°C</p>
            <p class="card-text my-0">pH {{each_plant.pH}}</p>
            <p class="card-text my-0 small">{{each_plant.plant_care_text}}</p>
        </div>
        <div class="card-footer">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="{{ url_for('delete_plant', plant_id=each_plant._id )}}"
                            class="btn btn-danger">Delete</a>
                        <a href="{{ url_for('show_update_plant', plant_id=each_plant._id )}}"
                            class="btn btn-success">Update</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor%}
</div>

{% endblock %}