{% extends 'base.template.html' %}
{%block title%}
Fish List
{% endblock%}

{%block content%}
<div class="py-5 text-center">
    <img class="d-block mx-auto mb-3" src="{{ url_for('static', filename='logo1.png') }}" alt="" width="57" height="57">
    <h2>Fish Trove</h2>
    <p class="lead">All the fishes hobbyists have contributed. In one place.</p>
</div>

<form method="GET">
    <div class="form">
        <div class="col-auto mb-3">
            <input type="text" name="name" class="form-control " placeholder="Enter a Fish Name" />
        </div>
        <div class="form-group col-auto">
            <input type="submit" value="Search" class="btn btn-primary col-12" />
        </div>
    </div>
</form>

<hr class="my-3">
<!-- button for redirecting to create fish -->

<label class="my-3 col-6 mx-0 text-center">Adding a New Fish to the Trove?</label>
<a href="{{url_for('show_create_fish')}}" class="btn btn-primary col-5 mx-0">Click to Add Fish</a>

<hr class="my-3">
<div class="row">

    {%for each_fish in fish%}
    <div class="card px-0 col-md-4 my-2">
        <img class="card-img-top" src="{{each_fish.fish_picture}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{each_fish.name}}</h5>
            <p class="card-text my-0 text-muted">{{each_fish.scientific_name}}</p>
            <p class="card-text my-0 text-muted">{{each_fish.higher_classification}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Full-grown size: {{each_fish.full_grown_size_in_cm}} cm </li>
            <li class="list-group-item">Reproduction: {{each_fish.reproduction}} </li>
            <li class="list-group-item">Diet: {{each_fish.diet}} </li>
        </ul>
        <div class="card-body">
            <h5 class="card-title text-muted">Aquarium Setup</h5>
            <p class="card-text my-0">Water Temp: {{each_fish.water_temp_in_degc}}°C</p>
            <p class="card-text my-0">pH {{each_fish.pH}}</p>
            <p class="card-text my-0 small">{{each_fish.tank_setup_text}}</p>
        </div>
        <div class="card-footer">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="{{ url_for('delete_fish', fish_id=each_fish._id )}}" class="btn btn-danger">Delete</a>
                        <a href="{{ url_for('show_update_fish', fish_id=each_fish._id)}}"
                            class="btn btn-success">Update</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor%}
</div>

<div class="container my-3 border text-center">
        {% if page != 0 %}
        <a href="?page={{page-1}}" class="btn btn-secondary my-3 col-auto mx-0 text-center">Previous Page</a>
        {% endif %}
        {% if count_fish > 20 %}
        <a href="?page={{page+1}}" class="btn btn-secondary my-3 col-auto mx-0 text-center">Next Page</a>
        {% endif %}
    </div>

{% endblock %}